
@{
    ViewData["Title"] = "PistonsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Detroit Pistons</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Pistons/PistonsInfo">Team Information</a></li>
            <li><a href="/Pistons/Pistons">Players</a></li>
            <li><a href="/Pistons/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Detroit Pistons are an American professional basketball team based in Detroit. The Pistons compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Central Division and play their home games at Little Caesars Arena, located in Midtown. Founded in Fort Wayne, Indiana as a semi-professional team called the Fort Wayne Zollner Pistons in 1937, they would turn pro in 1941 as a member of the National Basketball League (NBL), where they won two NBL championships: in 1944 and 1945. The Pistons later joined the Basketball Association of America (BAA) in 1948. The NBL and BAA merged to become the NBA in 1949, and the Pistons became part of the merged league. In 1957, the franchise moved to Detroit. The Pistons have won three NBA championships: in 1989, 1990 and 2004
        </p>
    </div>

</body>
</html>
