
@{
    ViewData["Title"] = "BucksInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Milwaukee Bucks</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Bucks/BucksInfo">Team Information</a></li>
            <li><a href="/Bucks/Bucks">Players</a></li>
            <li><a href="/Bucks/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Milwaukee Bucks are an American professional basketball team based in Milwaukee. The Bucks compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Central Division. The team was founded in 1968 as an expansion team, and play at Fiserv Forum. Former U.S. Senator Herb Kohl was the long-time owner of the team, but on April 16, 2014, a group led by billionaire hedge fund managers Wes Edens and Marc Lasry agreed to purchase a majority interest in the team from Kohl, a sale which was approved by the owners of the NBA and its Board of Governors one month later on May 16.[11] The team is managed by Jon Horst the team's former director of basketball operations, who took over from John Hammond.

            The Bucks have won two league championships (1971, 2021), three conference titles (Western: 1971, 1974, Eastern: 2021), and 16 division titles (1971–1974, 1976, 1980–1986, 2001, 2019–2021). They have featured such notable players as Kareem Abdul-Jabbar, Oscar Robertson, Bob Dandridge, Sidney Moncrief, Bob Lanier, Glenn Robinson, Ray Allen, Khris Middleton, Giannis Antetokounmpo, and Jrue Holiday among others. Abdul-Jabbar and Antetokounmpo have been named the NBA's Most Valuable Player while playing for the Bucks, for a total of five MVP awards. They both are also the only players to win Finals MVP for the franchise. The Bucks are the only team to have won a championship in both the Eastern and Western conference.
        </p>
    </div>

</body>
</html>

