
@{
    ViewData["Title"] = "ChicagoInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Chicago Bulls</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Chicago/ChicagoInfo">Team Information</a></li>
            <li><a href="/Chicago/Chicago">Players</a></li>
            <li><a href="/Chicago/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Chicago Bulls are an American professional basketball team based in Chicago. The Bulls compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Central Division. The team was founded on January 16, 1966, and played its first game during the 1966–67 NBA season. The Bulls play their home games at the United Center, an arena on Chicago's West Side.

            The Bulls saw their greatest success during the 1990s when they played a major part in popularizing the NBA worldwide. They are known for having one of the NBA's greatest dynasties, winning six NBA championships between 1991 and 1998 with two three-peats. All six of their championship teams were led by Hall of Famers Michael Jordan, Scottie Pippen, and coach Phil Jackson. The Bulls are the only NBA franchise to win multiple championships while never losing an NBA Finals series in their history.

            The Bulls won 72 games during the 1995–96 season, setting an NBA record that stood until the Golden State Warriors won 73 games during the 2015–16 season. The Bulls were the first team in NBA history to win 70 games or more in a single season, and the only NBA franchise to do so until the 2015–16 Warriors.

            Since 1998, the Bulls have failed to regain their former success. The franchise struggled throughout the 2000s, but showed promise in the early 2010s, led by Derrick Rose and Joakim Noah, culminating in back-to-back seasons above .732 in 2010–11 and 2011-12. However, due to injuries to and departures of key players, the franchise was never able to build on that success and has sunk back into mediocrity since.

            Michael Jordan and Derrick Rose have both won the NBA Most Valuable Player Award while playing for the Bulls, for a total of six MVP awards. The Bulls share rivalries with the Cleveland Cavaliers, Detroit Pistons, Miami Heat and the New York Knicks. The Bulls' rivalry with the Pistons was highlighted heavily during the late 1980s and early 1990s. Outside of basketball, the Chicago Bulls are also known for their community work through their charity department which provides youth and non-for-profit organizations with tickets to games and merchandise.
        </p>
    </div>

</body>
</html>
