
@{
    ViewData["Title"] = "ThunderInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Oklahoma City Thunder</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Thunder/ThunderInfo">Team Information</a></li>
            <li><a href="/Thunder/Thunder">Players</a></li>
            <li><a href="/Thunder/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Oklahoma City Thunder are an American professional basketball team based in Oklahoma City. The Thunder compete in the National Basketball Association (NBA) as a member of the league's Western Conference Northwest Division. The team plays its home games at Paycom Center.

            The Thunder's NBA G League affiliate is the Oklahoma City Blue, which it owns. The Thunder are the only team in the major professional North American sports leagues based in the state of Oklahoma. Oklahoma City previously hosted the New Orleans Hornets for two seasons following devastation caused by Hurricane Katrina in New Orleans.

            The team was originally established as the Seattle SuperSonics, an expansion team that joined the NBA for the 1967–68 season. The SuperSonics relocated from Seattle, Washington to Oklahoma City in 2008 after a settlement was reached between the ownership group led by Clay Bennett and lawmakers in Seattle following a lawsuit. In Seattle, the SuperSonics qualified for the NBA playoffs 22 times, won their division six times, advanced to three NBA Finals, and won the 1979 NBA Championship. In Oklahoma City, the Thunder qualified for their first playoff berth during the 2009–10 season. They won their first division title as the Thunder in the 2010–11 season and their first Western Conference championship as the Thunder in the 2011–12 season, appearing in the NBA Finals for the fourth time in franchise history and first time since 1996, when the team was based in Seattle. The team has yet to win a championship since moving to Oklahoma City.
        </p>
    </div>

</body>
</html>

