
@{
    ViewData["Title"] = "GrizzliesInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Memphis Grizzlies</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Grizzlies/GrizzliesInfo">Team Information</a></li>
            <li><a href="/Grizzlies/Grizzlies">Players</a></li>
            <li><a href="/Grizzlies/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Memphis Grizzlies are an American professional basketball team based in Memphis, Tennessee. The Grizzlies compete in the National Basketball Association (NBA) as a member of the league's Western Conference Southwest Division. The Grizzlies play their home games at FedExForum. The team is owned by Robert Pera. The Grizzlies are currently the only team in the major professional North American sports leagues based in the city of Memphis, and the only professional basketball team in the state of Tennessee.

            The team was originally established as the Vancouver Grizzlies in the city of Vancouver, Canada, an expansion team that joined the NBA for the 1995–96 season. After the 2000–01 season concluded, the Grizzlies left Vancouver and moved to Memphis.
        </p>
    </div>

</body>
</html>