
@{
    ViewData["Title"] = "HornetsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Charlotte Hornets</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Hornets/HornetsInfo">Team Information</a></li>
            <li><a href="/Hornets/Hornets">Players</a></li>
            <li><a href="/Hornets/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Charlotte Hornets are an American professional basketball team based in Charlotte, North Carolina. The Hornets compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Southeast Division, and play their home games at the Spectrum Center. The Charlotte Hornets are mainly owned by Basketball Hall of Famer Michael Jordan, who acquired a controlling interest in the team in 2010.

            The original Charlotte Hornets franchise was established in 1988 as an expansion team owned by George Shinn. In 2002, Shinn's franchise relocated to New Orleans; two years later, the Bobcats were founded in their place as an expansion team.[10] In 2013, the Bobcats announced that they would change their name to the Charlotte Hornets for the 2014–15 season, acquiring the history and records of the original Hornets (spanning from 1988 to 2002), while the New Orleans team would be renamed the Pelicans
        </p>
    </div>

</body>
</html>

