
@{
    ViewData["Title"] = "SpursInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>San Antonio Spurs</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Spurs/SpursInfo">Team Information</a></li>
            <li><a href="/Spurs/Spurs">Players</a></li>
            <li><a href="/Spurs/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The San Antonio Spurs are an American professional basketball team based in San Antonio. The Spurs compete in the National Basketball Association (NBA) as a member of the league's Western Conference Southwest Division. The team plays its home games at the AT&T Center in San Antonio.

            The Spurs are one of four former American Basketball Association (ABA) teams to remain intact in the NBA after the 1976 ABA–NBA merger and are the only former ABA team to have won an NBA championship.The franchise has won NBA championships in 1999, 2003, 2005, 2007, and 2014.As of the 2019–20 season, the Spurs had the highest winning percentage among active NBA franchises.As of May 2017, the Spurs had the best winning percentage of any franchise in the major professional sports leagues in the United States and Canada over the previous three decades.From 1999–2000 to 2016–17, the Spurs won 50 games each season,setting a record of 18 consecutive 50-win seasons.In the 2018–19 season, the Spurs matched an NBA record for most consecutive playoff appearances with 22.The team's recent success has coincided with the tenure of current head coach Gregg Popovich and with the playing careers of Spurs icons David Robinson (1989–2003) and Tim Duncan (1997–2016).
        </p>
    </div>

</body>
</html>

