
@{
    ViewData["Title"] = "PelicansInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>New Orleans Pelicans</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Pelicans/PelicansInfo">Team Information</a></li>
            <li><a href="/Pelicans/Pelicans">Players</a></li>
            <li><a href="/Pelicans/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The New Orleans Pelicans are an American professional basketball team based in New Orleans. The Pelicans compete in the National Basketball Association (NBA) as a member of the league's Western Conference Southwest Division, and play their home games at the Smoothie King Center.

            The Pelicans were established as the New Orleans Hornets in the 2002–03 season, when George Shinn, then owner of the Charlotte Hornets, relocated the franchise to New Orleans. Due to the damage caused by Hurricane Katrina in 2005, the team temporarily relocated to Oklahoma City, where they spent two seasons as the New Orleans/Oklahoma City Hornets before returning to New Orleans for the 2007–08 season. In 2013, the Hornets announced that they would change their name to the New Orleans Pelicans[11] after the 2012–13 season. The Charlotte Hornets' name, history, and records from 1988 to 2002 were returned to its original city to be used by the Charlotte Bobcats, who subsequently became the Charlotte Hornets in 2014.

            In 18 seasons of play since the original franchise relocated from Charlotte, the New Orleans franchise has achieved an overall regular season record of 671–771, and has qualified for the playoffs seven times. Their achievements include two playoff series victories and one division title.
        </p>
    </div>

</body>
</html>

