
@{
    ViewData["Title"] = "RaptorsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Toronto Raptors</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Raptors/RaptorsInfo">Team Information</a></li>
            <li><a href="/Raptors/Raptors">Players</a></li>
            <li><a href="/Raptors/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Toronto Raptors are a Canadian professional basketball team based in Toronto. The Raptors compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Atlantic Division. They play their home games at Scotiabank Arena, which they share with the Toronto Maple Leafs of the National Hockey League (NHL). The team was founded in 1995 as part of the NBA's expansion into Canada, along with the Vancouver Grizzlies. Since the 2001–02 season, the Raptors have been the only Canadian-based team in the league, as the Grizzlies relocated from Vancouver to Memphis, Tennessee.

            As with most expansion teams, the Raptors struggled in their early years, but after the acquisition of Vince Carter through a draft-day trade in 1998, the franchise set league-attendance records and made the NBA playoffs in 2000, 2001, and 2002. Carter was instrumental in leading the team to their first playoff series win in 2001, where they advanced to the Eastern Conference semifinals. During the 2002–03 and 2003–04 seasons, they failed to make significant progress, and Carter was traded in 2004 to the New Jersey Nets.

            After Carter left, Chris Bosh emerged as the team leader. For the 2006–07 season, Bryan Colangelo was appointed as general manager, and through a combination of Bosh, 2006 first overall draft pick Andrea Bargnani, and a revamp of the roster, the Raptors qualified for their first playoff berth in five years, capturing the Atlantic Division title. In the 2007–08 season, they also advanced to the playoffs but failed to reach the postseason in each of the next five seasons. Colangelo overhauled the team's roster for the 2009–10 season in a bid to persuade pending free agent Bosh to stay, but Bosh departed to sign with the Miami Heat in July 2010, ushering in yet another era of rebuilding for the Raptors.

            Masai Ujiri replaced Colangelo in 2013 and helped herald a new era of success, led by a backcourt duo of DeMar DeRozan and Kyle Lowry. The Raptors returned to the playoffs the following year and became a consistent playoff team in every year of Ujiri's tenure. Under Ujiri, the team also won five Division titles and registered their most successful regular season in 2018. However, the team's failure to reach the NBA Finals prompted Ujiri to fire head coach Dwane Casey after the 2018 playoffs concluded and conduct the high-profile trade of DeRozan for Kawhi Leonard and Danny Green later that summer, as well as acquiring Marc Gasol before the trade deadline. In the 2019 playoffs, the Raptors won their first Eastern Conference title and advanced to their first NBA Finals, where they won their first NBA championship. The following season saw the growth of Pascal Siakam to an All-NBA Player.
        </p>
    </div>

</body>

