
@{
    ViewData["Title"] = "_76ersInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*
        <script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/_76ers/_76ersInfo">Team Information</a></li>
            <li><a href="/_76ers/_76ers">Players</a></li>
            <li><a href="/_76ers/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Philadelphia 76ers (colloquially known as the Sixers) are an American professional basketball team based in the Philadelphia metropolitan area. The 76ers compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Atlantic Division and play at the Wells Fargo Center. Founded in 1946 and originally known as the Syracuse Nationals, they are one of the oldest franchises in the NBA and one of only eight (out of 23) to survive the league's first decade.

            The 76ers have had a prominent history, with many Hall of Fame players having played for the organization, including Dolph Schayes, Hal Greer, Wilt Chamberlain, Chet Walker, Billy Cunningham, Julius Erving, Maurice Cheeks, Bobby Jones, Moses Malone, Charles Barkley, George McGinnis, and Allen Iverson. They have won three NBA championships, with their first coming as the Syracuse Nationals in 1955. The second title came in 1967, a team which was led by Chamberlain. The third title came in 1983, won by a team led by Erving and Malone. The 76ers have only been back to the NBA Finals once since then: in 2001, where they were led by Iverson and lost to the Los Angeles Lakers in five games.
        </p>
    </div>

</body>
</html>

