
@{
    ViewData["Title"] = "ClippersInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="~/js/sort.js"></script>*@
</head>
<body>

    <div>
        <h3>Los Angeles Clippers</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/Clippers/ClippersInfo">Team Information</a></li>
            <li><a href="/Clippers/Clippers">Players</a></li>
            <li><a href="/Clippers/Team">Team's Stats</a></li>
        </ul>
        <br>
        <p>
            The Los Angeles Clippers are an American professional basketball team based in Los Angeles. The Clippers compete in the National Basketball Association (NBA) as a member of the Pacific Division in the league's Western Conference. The Clippers play their home games at Crypto.com Arena, which they share with NBA team Los Angeles Lakers, the Los Angeles Sparks of the Women's National Basketball Association (WNBA), and the Los Angeles Kings of the National Hockey League (NHL). The Clippers plan to move into their own arena, the Intuit Dome, in nearby Inglewood by 2024.

            The franchise was founded as the Buffalo Braves in 1970 as an expansion team. Led by Hall of Famer Bob McAdoo, the Braves reached the NBA playoffs three times during their eight seasons in Buffalo. Conflicts with the Canisius Golden Griffins over the Buffalo Memorial Auditorium and the sale of the franchise led to their relocation from Buffalo to San Diego, California in 1978 and subsequent rebranding as the San Diego Clippers, in reference to the sailing ships seen in San Diego Bay. The team saw little success on the court and missed the playoffs during all six of their years in San Diego.

            In 1984, owner Donald Sterling controversially relocated the franchise to Los Angeles without NBA approval, which was permitted following legal action between the league and Sterling. Over the course of their first 27 seasons in Los Angeles, the Clippers qualified for the postseason only four times and won a single playoff round. They were frequently considered a perennial loser in American professional sports, drawing unfavorable comparisons to the historically successful Lakers.

            The Clippers' reputation improved during the 2010s, which saw them transform into consistent postseason contenders. Aided by the "Lob City" lineup of Blake Griffin, DeAndre Jordan, and Chris Paul, the team qualified for the playoffs in six consecutive seasons from 2012 to 2017 and won two consecutive division titles in 2013 and 2014, both firsts for the franchise. Despite this success, the Clippers struggled in the postseason and were frequently eliminated in the Conference Semifinals; the team reached the Conference Finals for the first time in 2021. To date, they are the league's oldest franchise to have never played in the NBA Finals.
        </p>
    </div>

</body>
</html>

